body {
    background: url(../img/edite.jpg);
    background-size: 100% 100%;
}

.container {
    display: grid;
    justify-content: flex-end;
    padding-right: 70px;
}

.name-container img {
    height: 65px; width: 430px;
    margin-top: 15px;
}

.content {
    display: flex; justify-content: center;
    margin-top: 20px;
}

form { width: 90%; }

input {
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
    color: white;
    padding-left: 10px;
    outline: none;
}

.priceQty {
    width: 100%;
    display: flex; justify-content: space-between;
}
.priceQty input {
    width: 48%;
}

.expDate {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 100%;
    height: 45px;
}

.expDate label{
    color: white;
    margin-left: 65px;
}

.expDate input {
    display: inline-block;
    border: none;
    width: 40%;
    margin-left: 50px;
}

input[type='submit'] {
    border: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgb(33, 32, 57), cyan, purple, rgb(33, 32, 57));
}

.msg {
    color: rgb(0, 189, 0);
    font-size: 18px;
    text-align: center;
}

.msg span {
    color: red;
}