.container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.forflex {
    display: flex;
    justify-content: right;
}

.card {
    background: url('../img/card.png');
    background-size: 100% 100%;
    width: 380px; height: 240px;
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.content {
    margin-top: 40px;
}

.content .row {
    margin-bottom: 10px;
}

.content .row p {
    font-size: 14px;
    width: 140px;
    font-size: 13px;
}

.card .name{
    margin-top: 10px;
    width: 44%;
    height: 50px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    text-align: center;
}



.content .row {
    display: flex;
}

.content .row p:first-child {
    font-weight: bold;
    width: 80px;
    font-size: 16px;
}

.content .row p:last-child {
    color: rgb(1, 74, 83);
    margin-top: 2px;
}

.exp p {
    color: rgb(1, 74, 83);
    margin-top: 2px;
    font-size: 13px;
    width: 150px;
    font-weight: lighter;
    margin-left: 10px;
}

.three {
    margin-left: -15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}