.movesearchright {
    display: flex; justify-content: flex-end;
}

.searchbar {
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
    width: 350px;
    margin: 20px 50px 0 0;
    background-color: rgb(74, 66, 108);
}

.searchbar #search {
    width: 75%; height: 40px;
    margin: 10px 0;
    outline: none;
    padding-left: 5px;
    font-size: 18px;
}

.searchbar button {
    width: 24%; height: 64%;
}

.container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.forflex {
    display: flex;
    justify-content: right;
}

.card {
    background: url('../img/card.png');
    background-size: 100% 100%;
    width: 380px; min-height: 220px;
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.content {
    margin-top: 20px;
    transform: skew(-14deg);
}

.content .row {
    margin-bottom: 5px;
}

.content .row p {
    font-size: 14px;
    width: 150px;
}

.card .name{
    margin-top: 10px;
    width: 44%;
    height: 50px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.content .row {
    display: flex;
}

.content .row p:first-child {
    font-weight: bold;
    width: 80px;
    font-size: 16px;
    margin-left: 10px;
}

.content .row p:last-child {
    color: rgb(1, 74, 83);
    margin-top: 2px;
    font-size: 13px;
}

.content .row:nth-child(2) p:last-child, .content .row:first-child p:last-child {
    font-size: 14px;
}