{{>top}}
    <link rel="stylesheet" href="/stylesheet/add-medicine.css">
    <style>.navbar ul a[href="/add-medicine"] { background-color: #292e2d; box-shadow: inset 0 0 15px black; }</style>
</head>
<body>
    {{>navbar}}
    <div class="container">
        <div class="name-container">
            <img src="/img/add-medicine.png" alt="bg-none">
        </div>
        <div class="content">
            <form action="/add-medicine" method="POST">
                <input type="text" name="name" id="name" spellcheck="false" placeholder="Name..." autocomplete="off">
                <input type="text" name="formula" id="formula" spellcheck="false" placeholder="Formula..." autocomplete="off">
                <div class="priceQty">
                    <input type="text" name="price" id="price" spellcheck="false" placeholder="Price..." autocomplete="off">
                    <input type="text" name="qty" id="qty" spellcheck="false" placeholder="Quantity..." autocomplete="off">
                </div>
                <div class="expDate">
                    <label for="expDate">Expiry Date: <input type="date" name="expDate" id="expDate"></label>
                </div>
                <input type="submit" value="Submit">
                <p class="msg">{{msg}}<span>{{err}}</span></p>
            </form>
        </div>
    </div>
    <script src="/scripts/add-medicines.js"></script>
</body>
</html>