{{>top}}
    <link rel="stylesheet" href="/stylesheet/sales-book.css">
    <style>.navbar ul a[href='/sales-book'] { background-color: #292e2d; box-shadow: inset 0 0 15px black;}</style>
</head>
<body>
{{>navbar}}
    <div class="container">
        <div class="card">
            <p class="name">Zerodol-SP forms</p>
            <div class="forflex">
                <div class="content">

                    <div class="row one">
                        <p class="medname">Formula:</p>
                        <p>Paracetamol benzoat</p>
                    </div>

                    <div class="row two">
                        <p class="price">Price: </p>
                        <p>240₹</p>
                    </div>

                    <div class="three">
                        <p class="total">Quantity:</p>
                        <div class="exp">
                            <p>50 of exp-28/08/2025</p>
                            <p>50 of exp-28/08/2025</p>
                            <p>50 of exp-28/08/2025</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>